# Azure Devops Pipeline
# Build a general project with Azure
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

resources:
  repositories:
    - repository: githubRepo
      type: github
      name: mzrisvi/Automation
      endpoint: github.com_mzrisvi
      ref: refs/heads/master


steps:
- script: echo "Pipeline running!"